.service {
  padding: 8rem 0;
  background-color: #f9f9ff;
}
.serviceHeader h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.serviceHeader p {
  max-width: 45rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #777777;
  line-height: 26px;
}

@media screen and (max-width: 576px) {
  .service {
    padding: 2rem;
  }
  .serviceHeader h2 {
    font-size: 2rem;
    text-align: center;
  }
  .singleService {
    max-width: 85% !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .singleService {
    max-width: 95% !important;
  }
  .card-deck {
    flex-direction: column !important;
  }
  .p-4.card.aos-init.aos-animate {
    margin-bottom: 2rem;
  }
}
