.about {
  padding-top: 18rem;
  padding-bottom: 5rem;
  background-color: #fefefe;
}
.progress {
  border: 5px solid white;
  box-shadow: 0px 0px 2px gray;
  border-radius: 15px !important;
  margin-bottom: 1rem;
  height: 1.3rem !important;
}
.progress-bar {
  background: linear-gradient(to right, #766dff, #88f2ff) !important;
  border-radius: 15px;
  /* background-color: #766dff !important; */
}
.aboutMySelf h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.aboutMySelf p {
  font-size: 1rem;
  letter-spacing: 0.2px;
  color: gray;
  line-height: 30px;
  margin-bottom: 2rem;
}

.totalInfo {
  padding: 1.5rem;
  width: 10rem;
  border: 1px solid #ebeaea;
  border-radius: 5px;
}
.totalInfo h4 {
  font-weight: 700;
}
.totalInfo span {
  color: gray;
  font-weight: 400;
}
svg.svg-inline--fa.fa-database.fa-w-14,
svg.svg-inline--fa.fa-book.fa-w-14,
svg.svg-inline--fa.fa-user-friends.fa-w-20 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  /* background: linear-gradient(to right, #766dff 0%, #86e7ff 70%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent; */
  color: #766dff;
}

@media screen and (max-width: 576px) {
  .col-md-6.aboutMySelf.aos-init.aos-animate {
    padding: 0 3rem;
  }
  .d-flex.justify-content-between {
    flex-direction: column;
    align-items: center;
  }
  .totalInfo {
    margin: 1rem 0;
  }
  .col-md-6.progressBar.aos-animate {
    padding: 0 3rem;
    margin-top: 3rem;
  }
}
