.header-main {
  background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  min-height: 34rem;
}
.headerMainContainer {
  position: relative;
  top: 10rem;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}
.myImg img.img-fluid {
  width: 90%;
}
.myInfo h6 {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.myInfo h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.myInfo h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
  letter-spacing: 1px;
}
.myInfo p {
  font-size: 1rem;
  color: gray;
  line-height: 25px;
}

svg.svg-inline--fa.fa-phone-alt.fa-w-16,
svg.svg-inline--fa.fa-envelope.fa-w-16,
svg.svg-inline--fa.fa-home.fa-w-18 {
  color: #766dff;
  margin-right: 1rem;
}
svg.svg-inline--fa.fa-linkedin.fa-w-14,
svg.svg-inline--fa.fa-github-square.fa-w-14,
svg.svg-inline--fa.fa-medium.fa-w-14,
svg.svg-inline--fa.fa-facebook-square.fa-w-14 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  color: #dedddd;
  transition: 0.5s ease;
}
svg.svg-inline--fa.fa-linkedin.fa-w-14:hover,
svg.svg-inline--fa.fa-github-square.fa-w-14:hover,
svg.svg-inline--fa.fa-medium.fa-w-14:hover,
svg.svg-inline--fa.fa-facebook-square.fa-w-14:hover {
  color: #766dff;
  /* background: linear-gradient(to right, #ff6db1, #ffe988);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  cursor: pointer;
}

/* media query */

@media screen and (max-width: 576px) {
  .headerMainContainer {
    max-width: 80%;
    padding: 1rem 2rem !important;
  }
  .myInfo h1 {
    font-size: 2.5rem;
  }
  .myInfo p {
    font-size: 0.8rem;
  }
  .myInfo h6 {
    font-size: 0.7rem;
  }
  svg.svg-inline--fa.fa-linkedin.fa-w-14,
  svg.svg-inline--fa.fa-github-square.fa-w-14,
  svg.svg-inline--fa.fa-medium.fa-w-14,
  svg.svg-inline--fa.fa-facebook-square.fa-w-14 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .headerMainContainer {
    max-width: 85% !important;
    padding: 1rem 2rem !important;
  }
  .myInfo h1 {
    font-size: 2rem !important;
  }
  .col-md-8.myImg.aos-init.aos-animate {
    max-width: 60%;
  }
  .col-md-4.myInfo.d-flex.flex-column.justify-content-center.aos-init.aos-animate {
    max-width: 40%;
  }
  .container.headerMainContainer {
    padding: 3rem 0 !important;
  }
  svg.svg-inline--fa.fa-linkedin.fa-w-14,
  svg.svg-inline--fa.fa-github-square.fa-w-14,
  svg.svg-inline--fa.fa-medium.fa-w-14,
  svg.svg-inline--fa.fa-facebook-square.fa-w-14 {
    font-size: 2.5rem;
  }
  .myInfo p {
    font-size: 0.8rem;
  }
}
